

/*button{width: 10px; height: 20px; outline:0; border:0;}*/
#container{position: relative; }
/*#paintapp{border: 1px solid #ccc; }
#imageTemp{ position: absolute; top: 1px; left: 1px; }*/
#place{
    display:inline-block;
    margin-top: 6px;
    margin-left: 2px;
}
#colorplace{
    display:inline-block;
    margin-top: 2px;
}
#colors{ width: 100%; height: 20px; }
#colors button{ width: 10px; height: 20px; margin-top: 5px; float: left; }
#colors button:hover{opacity: 0.4;}
#red {background: red; }
#black {background: black; }
#yellow {background: yellow; }
#blue {background: blue; }
#brown {background: brown; }
#cyan {background: cyan; }
#green {background: green; }
/* #dtools button {width: 20px; height: 10px; border: 0.2px solid #000; float: center; margin-top: 5px; background: white; } */
